:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --section-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --accent-color: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
  --countur-color: rgba(0, 0, 0, 1);
  --sparks-color: rgba(255, 0, 0, 1);
}

@media (width <= 375px) {
  :root {
    --section-inline-size: 100%;
  }
}
